@using CoWorking.Models
@model IQueryable<Order>


<html>
<head>
    <meta charset="UTF-8">

</head>
<body>
    <script language="JavaScript">
    </script>

    <form asp-action="@Url.Action("MyOrders", "UserPanel")">
        <h3>My orders</h3><br>
        <table class="table">

            <tr>
                <th>Order number</th>
                <th>Worker Number</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Work Space number</th>
                <th>Selected devices</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkSpaceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DevicesId)
                    </td>

                </tr>
            }
        </table>
    </form>
    <div>
        <a asp-action="UserPanel">Back to list</a>
    </div>
</body>
</html>
