@using CoWorking.Models
@model IQueryable<Order>



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="UTF-8">

</head>
<body>


    <form asp-action="@Url.Action("AdminPanel", "AdminPanel")">

        <h3>History of orders</h3>
        <br>

        <div class="container" align="left">

            <a asp-controller="AdminPanel" asp-action="AddOrder">Add order </a><a> </a>

            <a asp-controller="DeviceTable" asp-action="IndexDevice">List of devices </a><a> </a>

            <a asp-controller="WorkersTable" asp-action="IndexWorkers">List of workers </a><a> </a>

            <a asp-controller="WorkSpaceTable" asp-action="IndexWorkSpaces">List of work spaces </a><a> </a><br><br>

        </div>
        <div align="right">
            <table class="table">
                <tr>
                    <th>Order number</th>
                    <th>Worker Number</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Work Space number</th>
                    <th>Selected devices</th>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkSpaceId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DevicesId)
                        </td>
                        <td>
                            <a asp-controller="AdminPanel" asp-route-id="@item.OrderId" asp-action="OrdersEdit">Edit</a>
                        </td>
                        <td>
                            <input asp-action="OrdersDelete" type="submit" asp-route-id="@item.OrderId" name="DeleteReserve" value="Delete" class="btn btn-danger" />
                        </td>
                    </tr>
                }
            </table>
        </div>
    </form>



</body>
</html>
